<section class="container mt-5 p-2 bio">
  <%= form_with model:@post.comments.build, url:"/users/#{@post.author_id}/posts/#{@post.id}/comments" do |f| %>
    <%= f.label :text, "comment", class: "comment-label" %><br>
    <%= f.text_area :text, size:"90x12", class: "text-area", placeholder: "Put your comment here...", required: true %>
    <br>
    <%= f.submit "Add comment", data: {disable_with: "Adding..."}, class: "add-btn" %>
  <% end %>
</section>