<section>
  <%= form_with model:@like,url:"/users/#{@post.author_id}/posts/#{@post.id}/likes" do |f|%>
      <%= f.submit "Like" , data: {disable_with: "Like"}, class: "add-btn like"%>
  <%end%>
</section>